/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
//HEADINGS
.home {
  h2 {
    font-size: 2.4rem;
    font-weight: 400;
    text-align: center;

  }
}

//HERO
.home-hero {
  background: 
    linear-gradient( to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4) ),
    url('../../images/home-hero.jpg') no-repeat top center / cover;
  margin-bottom: 4.5rem;
}


// SHOP
.shop-category-area {
  // display: grid;
  // grid-template-columns: 1fr 1fr 1fr 1fr;
  // grid-gap: 1rem;
  display: flex;
  width: 100%;
}

.shop-category {
  flex-basis: 23.5%;
  height: 310px;
  margin: 0 auto;
  padding: 0.5rem;
  border: $solid_border;
  border-top: 5px solid #e1e1e1;

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:hover {
    border-color: $color__brand-orange;
  }
}

.shop-category-image {
  width: 33.33%;
  margin: 0 auto;
}

.shop-category-description {
  text-align: center;
}

.btn {
  width: 50%;
  margin: 1rem auto;

  p a {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 0.5rem 0;
      font-family: $font__accent;
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;
    }
}

.btn-green p a {
  color: white;
  background: $color__brand-green;

  &:hover{
    background: #19625d;
  }
}

// JOURNAL POSTS
.journal-posts-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 100%
}

.journal-post {
  height: 400px;
}


/* Footer */
.site-footer {
  height: 22rem;
  background: url('../../images/dark-wood.png')  left center / auto 100% repeat-x;
}

.footer-inner {
  height: 100%;

  & p,
  & a {
    color: white;
  }
  
  & a:hover {
    text-decoration: underline;
  }

  //Font Awesome Icons
  & svg.svg-inline--fa {
    margin-right: 7px;
  }
}

.footer-block-area {
  display: flex;
  width: 100%;
  height: 80%;
  padding-top: 4rem;
}

.footer-block {
  width: 25%;

  & h2 {
    font-size: 1.2rem;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0 0 0.25rem;
    color: $color__brand-orange;
  }

  & p {
    margin-bottom: 0.5rem;
  }
 }

.footer-site-logo {
  width: 50%;
  text-align: right;

  & img {
    width: 50%;
  }
}

.footer-copyright-info {
  font-family: $font__accent;
  text-align: center;
  text-transform: uppercase;
}

/*About Page*/
.hero-image-full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  & h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

.header-title-wrapper {
  display: inline-block;
  height: auto;
  width: auto;
}