/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/* Front page */
// SHOP
.shop-category-area {
  display: grid;
  width: 100%;
}

.shop-category-wrapper {
  grid-template-columns: 1fr 1fr 1fr 1fr;

  grid-gap: 1rem;
  border: 1px solid $color__brand-light-grey;
  border-top: 3px solid $color__brand-light-grey;


}

// JOURNAL POSTS
.journal-posts-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 1rem;
  width: 100%
}

.journal-post {
  // flex-basis: 30%;
  height: 400px;
  // margin: 0 2.5%;

  // &:first-of-type {
  //   margin-left: 0;
  // }

  // &:last-of-type {
  //   margin-right: 0;
  // }
}






/* Footer */
.site-footer {
  height: 300px;
  background: url("../../images/dark-wood.png")  left center / auto 100% repeat-x;
}


/*About Page*/
.hero-image-full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;

  & h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

.header-title-wrapper {
  display: inline-block;
  height: auto;
  width: auto;
}