/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
//GENERAL
.flex-area {
  display: flex;
}

.flex-block {
  width: 23.5%;
  margin: 0 auto;

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }
}


.site-main {
  min-height: calc(100vh - #{ $footer__height } );
}

.fixed-width-content {
  max-width: $content__fixed-width;
  margin: 0 auto;
}

.header-offset {
  margin-top: calc( #{$header__height } + 3rem );
}

.btn {
  width: 50%;
  max-width: 130px;

  a {
      display: inline-block;
      height: 100%;
      width: 100%;
      padding: 0.5rem;
      margin: 0;
      font-family: $font__accent;
      font-size: 0.9rem;
      text-align: center;
      text-transform: uppercase;
    }
}

.btn-green a {
  color: white;
  background: $color__brand-green;

  &:hover{
    background: #19625d;
  }
}

.btn-black a {
  border: 1px solid black;
  color: black;
  background: white;

  &:hover{
    border: none;
    color: white;
    background: $color__brand-green;
  }
}

.uppercase {
  text-transform: uppercase;
}


/* Front page */
//HEADINGS
.home {
  h1 {
    font-weight: 400;
    text-align: center;
    color: $color__brand-purple;
  }
}

//HERO
// .home-hero {
//   background: 
//     linear-gradient( to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4) ),
//     url('../../images/home-hero.jpg') no-repeat top center / cover;
//   margin-bottom: 4.5rem;
// }


// SHOP
.shop-category-area {
  display: flex;
  width: 100%;
}

.shop-category {
  position: relative;
  width: 23.5%;
  height: 310px;
  margin: 0 auto;
  padding: 0.5rem;

  &:nth-of-type(4n+1) {
    margin-left: 0;
  }

  &:nth-of-type(4n) {
    margin-right: 0;
  }

  &:hover {
    border-color: $color__brand-orange;
  }

  .btn {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.border-box-thick-top {
  border: $solid_border;
  border-top: 5px solid #e1e1e1;
}

.shop-category-image {
  width: 33.33%;
  margin: 0 auto;

}

.shop-category-description {
  text-align: center;
}



// JOURNAL POSTS
.journal-posts-area {
  display: flex;
  width: 100%;
}

.journal-post-block {
  // height: 400px;
  width: 32%;
  margin: 0 auto;
  margin-bottom: 5rem;

  &:nth-of-type(3n+1) {
    margin-left: 0;
  }

  &:nth-of-type(3n) {
    margin-right: 0;
  }
}

.journal-post-block__thumbnail {
  height: 240px;

  img {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.journal-post-block__text {
  position: relative;
  height: 170px;
  padding: 0.75rem;

  & .entry-meta {
    margin: 0;
    padding: 0.5rem 0 0 0;
    font-size: 0.75rem;
  }

  & .entry-title {
    margin: 0;
    padding: 0;
    font-size: 1.3rem;
    font-weight: bold;
    line-height: 1.25;
    text-align: left;

    a {
      color: $color__brand-green;

      &:hover {
        color: #2f1339;
      }
    }
  }

  .btn {
    position: absolute;
    bottom: 0.75rem;
    left: 0.75rem;
  }
}

//Product Type
.tax-product_type{
  h1 {
    text-align: center;
  }
  p.product-type-description {
    text-align: center;
  }
}



/* Footer */
.site-footer {
  height: $footer__height;
  background: url('../../images/dark-wood.png')  left center / auto 100% repeat-x;
}

.footer-inner {
  height: 100%;

  & p,
  & a {
    color: white;
  }
  
  & a:hover {
    text-decoration: underline;
  }

  //Font Awesome Icons
  & svg.svg-inline--fa {
    margin-right: 7px;
  }
}

.footer-block-area {
  display: flex;
  width: 100%;
  height: 80%;
  padding-top: 4rem;
}

.footer-block {
  width: 25%;

  & h2 {
    font-size: 1.2rem;
    text-align: left;
    font-weight: bold;
    line-height: 1;
    letter-spacing: 2px;
    margin: 0 0 0.25rem;
    color: $color__brand-orange;
  }

  & p {
    margin-bottom: 0.5rem;
  }
 }

.footer-site-logo {
  width: 50%;
  text-align: right;

  & img {
    width: 50%;
  }
}

.footer-copyright-info {
  font-family: $font__accent;
  text-align: center;
  text-transform: uppercase;
}

/*About Page*/
.hero-image-full-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: 
  linear-gradient( to bottom, rgba(0,0,0,0.4), rgba(0,0,0,0.4) ),
  url('../../images/home-hero.jpg') no-repeat top center / cover;

  & h1 {
    color: white;
    font-size: 3rem;
    letter-spacing: 2px;
  }
}

.header-title-wrapper {
  display: inline-block;
  height: auto;
  width: auto;
}

//Product Type Archive
.archive-title-wrapper {
  margin-bottom: 3rem;
  border-bottom: $dashed_border;
}

.product-type-product-display-area {
  margin-top: 2rem;
  margin-bottom: 5rem;
}

.product-type-product-block {

  .product-type-product-text {
    display: flex;
    align-items: center;
    height: 60px;
    padding: 0.75rem
  }
    
  .label {
    display: flex;
    width: 100%;
    justify-content: space-between;
    border-bottom: 1px dotted black;

    p {
      display: inline-block;
      margin: 0 0 -3px 0;
      line-height: 1;
      background: white;
    }
  }
}

.product-type-product-image-wrapper {
  position: relative;
  width: 100%;
  padding-bottom: 100%;

  a {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
      object-position: top;
    }

  }
}


//Single Product
.product-price {
  font-size: 1.8rem;
  margin-top: 0;
}

.product {

  h1 {
    margin: 0;
    color: $color__brand-orange;
  }

  & .product-image-wrapper {
    display: inline-block;
    width: 50%;
  }

  & .product-text-wrapper {
    display: inline-block;
    width: 49%;
    margin: 0;
    padding-left: 1.5rem;
  }

  & .btn {
    display: inline-block;
  }

  //Font Awesome Icons
  & svg.svg-inline--fa {
    margin-right: 10px;
  }
}

//Single.php
.primary-sidebar {
  display: flex;
}

.main-sidebar {
  width: 70%;
  padding-right: 3rem;
}

.sidebar {
  width: 30%;
  margin-top: $header__height;
  padding-left: 3rem;
  border-left: $solid_border;
}

.single-image-wrapper {

  position: relative;
  height: 540px;
  
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  h1 {
    position: absolute;
    top: 20px;
    left: 0;
    display: inline-block;
    max-width: 75%;
    padding: 0.75rem 1.5rem;
    font-size: 2.1rem;
    text-transform: uppercase;
    line-height: 1.25;
    letter-spacing: 2px;
    background: $color__brand-green;
  }
  
  & .entry-meta {
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .25rem 1rem;
    font-family: $font__accent;
    background: $color__brand-green;
  }

  h1,
  a,
  & .entry-meta {
    color: white;
  }
}

.cat-links,
.tags-links {
  margin-right: 1.5rem;
  font-family: $font__accent;
  text-transform: uppercase;

  a {
    color: $color__brand-green;

    &:hover {
      color: $color__brand-purple;
    }
  }
}

.entry-footer {
  margin-top: 1rem;
}

//Comment.php
.comment-author-avatar {
  margin-right: 1.5rem;

  img {
    border-radius: 50%;
  }
}

.comment-author cite {
  font-style: normal;
  font-weight: 700;
}

.comment-metadata {
  color: gray;
}

.comment-body {
  display: flex;
}

.comment-list {
  padding-left: 0;
  margin-left: 0;
}

.comment-content {
  margin-bottom: 1.5rem;
  padding-bottom: 1.5rem;
  border-bottom: $solid-border;
}

.comment-reply-title {
  font-size: 1.8rem;
  line-height: 1.25;
}

.comment-form-author,
.comment-form-email {
  display: inline-block;
  width: 49.5%;
  padding-right: 0.5rem;
}

.comment-form-author,
.comment-form-email,
.comment-form-url  {

  p,
  label {
    display: block;
  }

  input {
    width: 100%;
  }
}

.widget {
  ul {
    margin-left: 0;
    padding-left: 0;
  }

  a {
    color: $color__brand-green;

    &:hover {
      color: $color__brand-purple;
    }
  }

  p {
    margin-bottom: 0.5rem;
  }

}

.custom-html-widget {

  ul {
    margin-left: 2rem;

    li {
      margin: 1rem 0;
    }

    & svg.svg-inline--fa {
      margin-right: 10px;
    }

    p {
      display: inline;
    }
  }
}

.business-hours-widget-class .day-of-week {
    font-weight: 700;
}